.header{
    padding: 0 10%;
    opacity: 0.9;
}
.header figure{
    width: 50%;
}
.header-menu{
    width: 50%;
    position: relative;
    transform: translate(0, 0px);
}
.header-menu img{
    display: none;
}
.header-menu-details{
    display: flex;
    justify-content: flex-end;
}
.header-menu-details li{
    list-style: none;
}
.header-menu-details a{
    margin: 20px;
    color: white;
    text-decoration: none;
}
.header-menu-details a:hover{
    color: cyan;
}



.portafolio{
    height: 100vh;
}
.title{
    margin: 60px auto;
}
.title h3{
    font-size: 2.5rem;
}
.title h1{
    font-size: 5rem;
}
.info-button{ 
    width: 170px;
    height: 45px;
    font-size: 2rem;
    transition: 850ms;
    margin-bottom: 60px;
}
.info-button:hover{
    transform: scale(1.2);
    background-color: rgb(26, 26, 26);
    color: rgb(0, 66, 94);
}
.title h2{
    font-size: 2rem;
}



.portafolio-container{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}
.portafolio-item {
    align-items: center;
    margin: 0 2%;
    transition: 450ms;
}
.portafolio-item img{
    max-height: 250px;
}

.item-text {
    transform: translate(-40px, -110px);
    font-size: 1.2rem;
}
.item-icon {
    transform: translate(-70px, -110px);
}
.item-description{
    position: absolute;
    font-size: 1.2rem;
    transform: translate(0px, 100px);
    transition: 650ms;
}

.portafolio-container:hover .portafolio-item{
    opacity: 50%;
}
.portafolio-container:hover .portafolio-item:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: 450ms;
}

.portafolio-item:hover  .item-description{
    display: flex;
    transition: 650ms;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
}
