.header{
    padding: 0 5%;
}
.header figure{
    width: 50%;
}
.header-menu{
    width: 50%;
    position: relative;
    transform: translate(0, 0px);
}
.header-menu img{
    display: none;
}
.header-menu-details{
    display: flex;
    justify-content: flex-end;
}
.header-menu-details li{
    list-style: none;
}
.header-menu-details a{
    margin: 20px;
    color: white;
    text-decoration: none;
}
.header-menu-details a:hover{
    color: cyan;
}

.fotos {
    width: 90%;
    height: auto;
    margin: 100px auto;

}
.fotos img{
    width: 17%;
    margin: 10px 15px;
}

.footer{
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.footer-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
